body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b5961c8eeb1c87863a98cbc7c9a0cfcd44eb4d22

main {
  min-height: 80vh;
}
<<<<<<< HEAD
=======
>>>>>>> sagar
=======

.adjust-btn {
  border-width: 0px;
  background-color: white;
}
>>>>>>> b5961c8eeb1c87863a98cbc7c9a0cfcd44eb4d22
